body {
  background-color: #f6ebeb;
}

.container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #544d4d;
}

.add-button {
  opacity: 0.1;
  width: 100px;
  height: 110px;
  font-size: 70px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-button:hover {
  background-color: #f0f0f0;
}

.box-one {
  background-color: white;
  border-radius: 12px;
}

.img {
  border-radius: 10px 10px 10px 10px;
  position: relative;
  margin-left: 20px;
  width: 60px;
  height: 60px;
}

.box-one-top {
  display: flex;
}

.left-content {
  display: flex;
  align-items: center;
}

.box-one-end {
  display: flex;
  justify-content: space-between;
}

.box-two {
  margin-top: 20px;
  background-color: white;
  border-radius: 12px;
}

.bt-right {
  display: flex;
}

.box-two-top {
  display: flex;
  justify-content: space-between;
}

.images-button {
  display: flex;
  justify-content: flex-end;
  padding: 8px 5px;
}

.images-button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 10px;

}

.icon {
  margin-bottom: 19px;
  margin-left: 10px;
  margin-right: 8px;
}

.box-three {
  background-color: white;
  border-radius: 12px;
}

.bt-right1 {
  display: flex;
}

.box-three-top {
  display: flex;
  justify-content: space-between;
}